@using Richie.DRD.Models
@using Newtonsoft.Json
@model IEnumerable<Richie.DRD.Models.Player>

@*@{
    ViewBag.Title = "Index";
}*@

<div class="ext">
    <div class="minorsHeader">
        <span class="alignRight">Last Updated: @ViewBag.LastUpdatedDate</span>
        <span class="alignLeftt">@Html.ActionLink("All Teams", "Index/", "DRD")</span>
        
    </div>
</div>

<hr />

<div style="clear: both">
    @Html.Action("GetTeamIndex")
</div>

<hr/>
<h3 style="@(ViewBag.TeamPID > 16 ? "display:none" : "")">@ViewBag.TeamName.TeamName</h3>
<h4 style="@(ViewBag.TeamPID > 16 ? "display:none" : "")">Minors: @ViewBag.TeamRosterSize/30 </h4>
<h4 style="@(ViewBag.TeamPID < 17 ? "display:none" : "")">Minors</h4>
<hr />

<table class="table table-striped table-hover" id="minorsTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th style="@(ViewBag.TeamPID != 17 ? "display:none" : "table-header-group")">
                @Html.DisplayNameFor(model => model.TeamName)
            </th>
            <th class="unselectable">
                @Html.DisplayNameFor(model => model.RookieQualifier)
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr id="element">
            <td id="nameTag">
                @*@if(String.IsNullOrEmpty(item.MLBID.ToString()))*@
                @if (item.MLBID > 0)
                {
                    <a href="http://m.mlb.com/player/@(item.MLBID)" target="_blank">@Html.DisplayFor(modelItem => item.NameTag)</a>
                }
                else
                {
                    @Html.DisplayFor(modelItem => item.NameTag)
                }
                <span class="glyphicon glyphicon-ban-circle text-danger fake-link" title="Player has lost rookie eligibility" data-toggle="tooltip" style="@(item.HasLostRookieStatus == false ? "display: none" : "")"></span>
                @*<a href="http://m.mlb.com/player/@(item.MLBID)" target="_blank">@Html.DisplayFor(modelItem => item.FullName)</a>: @Html.DisplayFor(modelItem => item.FullName)*@
            </td>
            <td style="@(ViewBag.TeamPID != 17 ? "display:none" : "table-cell")" class="unselectable" id="hasLostRookieStatuss">
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td class="@(item.RookieQualifier == "0" ? "noservicetime unselectable" : "unselectable")">
                @Html.DisplayFor(modelItem => item.RookieQualifier)
            </td>
            <td class="unselectable">
                @Html.ActionLink("Edit", "Edit", new { id = item.PlayerPID })
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
    }

</table>

@if (ViewBag.TeamPID != 18)
{
    @Html.Action("GetMajors");
}

<script>
    //$("table tr:contains('Luis')").addClass("danger").add("<p id='new'>new paragraph</p>")
    //$('table td:contains("IPs")').parent().find('td:eq(0)').append($('<span class="glyphicon glyphicon-ban-circle text-danger fake-link" title="please demote" data-toggle="tooltip"></span>'));

    //var trTag = document.getElementsByTagName("tr");
    //var nameTD = document.getElementById("nameTag");
    //var valueTD = document.getElementById("hasLostRookieStatus");
    //for (var i = 0; i < 20; i++) {
    //    var curRow = trTag[i].children[2];
    //    if (valueTD.textContent = "Emerald Tigers") {
    //        nameTD.style.backgroundColor = "green"
    //    }

    //}

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

@* add total number of players? either through badges with each team index, or as table header *@
