@using Richie.DRD.Models
@using Newtonsoft.Json
@model IEnumerable<Richie.DRD.Models.Player>

@*@{
            ViewBag.Title = "Index";
    }*@

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Index</title>
    <!-- Bootstrap Core CSS -->
    <link href="bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- Custom CSS -->
    <link href="simple-sidebar.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
@Html.Action("SidebarMenu")
<body>
    <div id="wrapper" class="toggled">

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 style="@(ViewBag.TeamPID > 16 ? "display:none" :"")">@ViewBag.TeamName.TeamName</h1>
                        <h1 style="@(ViewBag.TeamPID < 17 ? "display:none" :"")">All Teams</h1>
                        <h4 style="@(ViewBag.TeamPID > 16 ? "display:none" : "")">Minors: @ViewBag.TeamRosterSize/30 </h4>
                        <h4 style="@(ViewBag.TeamPID < 17 ? "display:none" : "")">Minors</h4>
                        <p style="@(ViewBag.TeamPID < 17 ? "display:none" : "")">The following is a listing of all rookies that have been drafted and are currently owned by their respective teams. Please check to see if that player isn't already owned here before adding them on Yahoo.</p>

                        <table class="display compact" id="minorsTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.RowNum)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FullName)
                                    </th>
                                    <th style="@(ViewBag.TeamPID != 18 ? "display:none" : "table-header-group")">
                                        @Html.DisplayNameFor(model => model.TeamName)
                                    </th>
                                    <th class="unselectable">
                                        @Html.DisplayNameFor(model => model.RookieQualifier)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>

                            @foreach (var item in Model)
                            {
                                <tr id="element">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.RowNum)
                                    </td>
                                    <td id="nameTag">
                                        <span class="fa-stack" title="Current Level" data-toggle="tooltip">
                                            <i class="fa btn-danger fa-stack-2x "></i>
                                            <strong class="fa-stack-1x fa-stack-text iconcurrentleveltext @(item.CurrentLevel == "MLB" ? "iconcurrentlevelMLB" : "")">@item.CurrentLevel</strong>
                                        </span>
                                        <span class="nametag">
                                            @Html.ActionLink(@item.NameTag, "Edit", new { id = item.PlayerPID })
                                        </span>

                                        <span class="fa-stack" title="Promoted to Majors" data-toggle="tooltip" style="@(item.DRDPromotionDate == default(DateTime) ? "display: none" : "")">
                                            <i class="fa fa-circle fa-stack-2x iconpromotion"></i>
                                            <i class="fa fa-level-up fa-stack-1x fa-inverse"></i>
                                        </span>
                                        <span class="fa-stack" title="MLB.com Overall Prospect Ranking" data-toggle="tooltip" style="@(item.MLBOverallRanking == 0 ? "display: none" : "")">
                                            <i class="fa fa-circle fa-stack-2x iconmlboverallranking"></i>
                                            <strong class="fa-stack-1x fa-stack-text fa-inverse iconmlboverallrankingtext">@item.MLBOverallRanking</strong>
                                        </span>

                                        <span class="fa-stack" title="Player has lost rookie eligibility" data-toggle="tooltip" style="@(item.HasLostRookieStatus == false ? "display: none" : "")">
                                            <i class="fa fa-circle fa-stack-2x iconlostrookiestatus"></i>
                                            <i class="fa fa-exclamation fa-stack-1x fa-inverse"></i>
                                        </span>

                                    </td>
                                    <td style="@(ViewBag.TeamPID != 18 ? "display:none" : "table-cell")" class="unselectable" id="hasLostRookieStatuss">
                                        @Html.DisplayFor(modelItem => item.TeamName)
                                    </td>
                                    <td class="@(item.RookieQualifier == "0" ? "noservicetime unselectable" : "unselectable") @(item.IsActive == false ? "hidetext" : "")">
                                        @Html.DisplayFor(modelItem => item.RookieQualifier)
                                    </td>
                                    <td class="unselectable">
                                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
                                        @if (item.MLBID > 0)
                                        {
                                            <a href="http://m.mlb.com/player/@(item.MLBID)" target="_blank">
                                                <img src="~/Images/MLB_Vector10x22.png" />
                                            </a>
                                        }
                                        else
                                        {
                                            <img src="~/Images/MLB_Vector10x22_GrayScale.png" />
                                        }
                                        @* can't link to BREF yet, BREF link need first letter of player's last name
                                            @if (item.BREFID != null)
                                            {
                                                <a href="http://www.baseball-reference.com/register/player.fcgi?id=@(item.BREFID)" target="_blank">
                                                    <img class="resize" src="~/Images/BR.png" />
                                                </a>
                                            }
                                            else
                                            {
                                                <img class="resize" src="~/Images/BR_GrayScale.png" />
                                            }*@
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });


        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function () {
            var myTable = $('#minorsTable').DataTable({

                fixedHeader: {
                    header: true
                },
                paging: true,
                pageLength: 90,
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Search for player name"
                },
                lengthChange: false,
                ordering: false,
                searchDelay: 300,

                rowGroup: {
                    dataSrc: 2
                },

                mark: true

            });


        });

    </script>

</body>
</html>


