@model IEnumerable<Richie.DRD.Models.Majors>

<hr />

<h4 style="@(ViewBag.TeamPID > 16 ? "display:none" : "")">Majors: @ViewBag.TeamRosterSize/30 </h4>
<h4 style="@(ViewBag.TeamPID < 17 ? "display:none" : "")">Majors</h4>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Player)</th>
            <th style="@(ViewBag.TeamPID != 17 ? "display:none" : "table-cell")">@Html.DisplayNameFor(model => model.TeamName)</th>
        </tr>
    </thead>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(model => item.Player)
            </td>
            <td style="@(ViewBag.TeamPID != 17 ? "display:none" : "table-cell")">
                @Html.DisplayFor(model => item.TeamName)
            </td>
        </tr>
    }

</table>